- @page_title = "Login"

= link_to "Create an account", :action => "new"
.login
  = form_tag :action => "attempt_login" do
    = label_tag(:email)
    = text_field_tag(:email)
    = label_tag(:password)
    = password_field_tag(:password)
    = submit_tag "Sign in"