- @page_title = "Login"

= link_to "Create an account", :action => "new"
.login
  = form_tag :action => "attempt_login" do
    %table
      %tr
        %td= label_tag(:email)
        %td= text_field_tag(:email)
      %tr
        %td= label_tag(:password)
        %td= password_field_tag(:password)
      %tr
        %td &nbsp;
        %td= submit_tag "Sign in"