%h4 Create your account
= form_for @user, :as => :user, :url => { :action => "create" } do |e|
  - if @user.errors.any?
    - @user.errors.full_messages.each do |msg|
      .error= msg
  = e.text_field :first_name, :placeholder => "First name"
  = e.text_field :last_name, :placeholder => "Last name"
  = e.text_field :email, :placeholder => "email"
  = e.password_field :password, :placeholder => "password"
  
  = submit_tag "Create your account"