= e.text_field :event_title, :placeholder => "Event title"
= e.text_field :event_cost, :placeholder => "Cost"
= e.hidden_field :event_planner, :value => "#{@user_email}"
=# e.text_field :event_planner, :placeholder => "Planner"
= e.label :threshold
= e.select :threshold,  (1..100).collect { |t| [t, t]}
= e.label :max
= e.select :max, @max, html_options = { :class => "max_select"}

= submit_tag "Save"