%h4= @event.event_title 
= link_to "< back to all events", events_path
= link_to "edit", edit_event_path
- if @event_status == :nogo
  .eventStatus.nogo= "This event is currently a no go. It still needs #{@event_users_remaining} to join."
- elsif @event_status == :hitMax
  .eventStatus.hitMax= "This event has reached maximum capacity: #{@event.max}"
- else
  .eventStatus.go= "This event is on."

%p= "Cost: #{number_to_currency(@event.event_cost, :unit => "$")}"
- unless @event_user_count == 0
  %p= "Cost per person: #{number_to_currency(@event_cpp, :unit => "$")}"
%p= "Number of users: #{@event_user_count}"

%ul
- @event_users.each do |eu|
  %li
    = link_to "#{eu.first_name} #{eu.last_name}", :controller => "access", :action => "show", :id => eu.id
    - if eu.id == session[:user_id]
      = link_to "I am out", :action => "unjoin", :id => @event.id

- unless @user_is_in
  = button_to "I am in", :action => "join", :id => @event.id
  = "If you join, each person will pay a max of #{number_to_currency(@your_share_will_be, :unit => "$")}"

- unless @event.address.nil?
  .location
    = @event.address
  #map{ :height => "200px", :style => "height: 200px;"}
  :javascript
    var map = new L.Map('map');
    var lat = #{@event.latitude};
    var lng = #{@event.longitude};
    var eventTitle = "#{@event.event_title}";
    var eventAddress = "#{@event.address}";
    var cloudmadeUrl = 'http://{s}.tile.cloudmade.com/00d4ddd8b02f4301ae359d6c48bc97d9/997/256/{z}/{x}/{y}.png',
        cloudmadeAttrib = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
        cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib});
    var loc = new L.LatLng(lat, lng); // geographical point (longitude and latitude)
    map.setView(loc, 13).addLayer(cloudmade);
    
    var markerLocation = new L.LatLng(lat, lng);
    var marker = new L.Marker(markerLocation);
    map.addLayer(marker);
    marker.bindPopup("<div class='mapEventTitle' style='font-size: 16px; line-height: 19px; font-weight: bold;'>" + eventTitle + "</div><div class='mapEventAddress'>" + eventAddress + "</div>").openPopup();
    
  
.spread
  .twshare.left
    %a.twitter-share-button.left{"data-count" => "horizontal", "data-url" => request.url, "data-text" => "Check out #{@event.event_title} on Joinerous", :href => "http://twitter.com/share"} Tweet
    %script{:src => "http://platform.twitter.com/widgets.js", :type => "text/javascript"}
  .fshare.left
    %script{:src => "http://connect.facebook.net/en_US/all.js#xfbml=1"}
    %fb:like{:href => request.url, :layout => "button_count", :show_faces => "false", :width => "450", :send => "true"}
  .gplus.left
    %g:plusone{ :size => "medium", :annotation => "inline", :href => request.url}
    :javascript
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();