%h4= @event.event_title 
= link_to "< back to all events", events_path
= link_to "edit", edit_event_path
= @event_status
- if @event_status == :nogo
  .eventStatus.nogo= "This event is currently a no go. It still needs #{@event_users_remaining} to join."
- elsif @event_status == :hitMax
  .eventStatus.hitMax= "This event has reached maximum capacity: #{@event.max}"
- else
  .eventStatus.go= "This event is on."

%p= "Cost: $#{@event.event_cost}"
- unless @event_user_count == 0
  %p= "Cost per person: $#{@event_cpp}"
%p= "Number of users: #{@event_user_count}"

%ul
- @event_users.each do |eu|
  %li
    = link_to "#{eu.first_name} #{eu.last_name}", :controller => "access", :action => "show", :id => eu.id
    - if eu.id == session[:user_id]
      = link_to "I am out", :action => "unjoin", :id => @event.id

- unless @user_is_in
  = button_to "I am in", :action => "join", :id => @event.id
